
/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Import Pixel Sans */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #95bea9;
  --matr-navbar-bg-rgb: 149, 190, 169;
  --matr-navbar-text-color: #faf3e2;
  --matr-navbar-highlight-text: #faf3e2;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: #95bea9;
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("/images/POSTPixel.png");
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

h2 {
  font-family: "Pixelify Sans", sans-serif;
}

a {
  font-family: "Pixelify Sans", sans-serif;
}

#divider {
  height: 2px;
  width: 100%; /* Set the width of the divider */
  margin: 0; /* Add margin for spacing */
  background-color: #faf3e2;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#title-block {
  background: #faf3e2;
}

#input-card-body {
  background: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
}

#input-card-body .form-control {
  background: #95bea9;
}

#login-dropdown,
#navbar-current-user,
#login-dropdown-sign-in,
#login-dropdown-sign-up,
#navbar-sign-out {
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
}

.dropdown-item.active, .dropdown-item:hover {
  background-color: #95bea9 !important; /* Change to your desired highlight color */
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #faf3e2;
  padding: 20px;
  border-radius: 10px;
}

.partition-bar {
  width: 100%;
  height: 70px;
  background-color:#faf3e2;
}

.partition-bar, #landing-page-top, .align-middle {
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
  margin: 0;
  padding: 0;
  width: 100%;
}

#partition-bar {
  background-color: #faf3e2; /* Yellow color */
  height: 70px; /* Height of the partition bar */
  display: flex; /* Use flexbox to center the text vertically and horizontally */
  padding: 20px 20px;
  justify-content: space-between;
  align-items: center;
}

#partition-bar h1 {
  font-family: "Pixelify Sans", sans-serif; /* Pixel font */
  color: #95BEA9; /* Same color scheme as the site */
}

#search-bar {
  background-color: #F7EFB7; /* Yellow color */
  height: 50px; /* Height of the search bar */
  display: flex; /* Use flexbox to center the text vertically and horizontally */
  margin-left: 40px;
  justify-content: right;
  align-items: center;
}

#search-bar input {
  font-family: "Pixelify Sans", sans-serif; /* Pixel font */
  color: #95BEA9; /* Same color scheme as the site */
  border: none;
  background-color: #F7EFB7; /* Yellow color */
  width: 80%; /* Width of the input field */
  padding: 10px;
  flex-grow: 1;
}

#landing-page {
  background-color: #95bea9 !important;
}

#landing-page-top {
  background-image: url("/images/POSTPixel.png");
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
}

#landing-page-about {
  background-color: #95bea9 !important;
  color: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
  padding: 30px 30px 30px 30px;
  margin: 0px;
}

#landing-page-logo {
  max-width: 400px;
}

#landing-page-title {
  color: #faf3e2;
  background: #95BEA9;
  padding: 8px 8px 8px 8px;
  border-radius: 40px;
  max-width: 500px;
  font-weight: 700;
  margin: 0 auto;
  font-family: "Pixelify Sans", sans-serif;
  padding: 20px 8px;
  align-items: center; /* Center content vertically */
}

#landing-page-subtitle {
  background-color: #95bea9 !important;
  color: #faf3e2;
  padding: 8px 8px 8px 8px;
  background: #95BEA9;
  border-radius: 40px 40px 40px 40px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 20px 8px;
  align-items: center; /* Center content vertically */
}

#footer {
  font-family: "Pixelify Sans", sans-serif;
  padding-top: 20px;
}

#logo {
  width: 90px;
  margin: 0;
}

#grass {
  width: 30px;
  margin: 0;
}

#logo-title {
  margin: 0;
}

.chat-bubble-container {
  display: flex;
  justify-content: center; /* Aligns the chat bubble to the right */
  margin-top: 10px; /* Adjust margin top as needed */
  margin-bottom: 10px;
}

.chat-bubble {
  background-color: #faf3e2; /* Background color of the chat bubble */
  padding: 10px 10px;
  border-radius: 20px; /* Adjust the value to control the roundness of the bubble */
  max-width: 70%; /* Set the maximum width of the chat bubble */
}

.chat-bubble h1 {
  margin: 0; /* Remove default margin of h1 */
  color: #95BEA9FF;
}



.nav-pills .nav-link.active {
  background: #95bea9 !important;
  color: #faf3e2 !important;
  border-radius: 5px;
}

#collection-nav,
#pull-nav,
#trade-nav,
#wish-nav,
#admin-collection-nav {
  color: #faf3e2;
  background: #749885;
  border-radius: 20px;
  padding: 7px 20px 5px 20px;
  margin-right: 10px;
  margin-left: 10px;
  transition: background-color 0.01ms ease;
}

#collection-nav.active,
#pull-nav.active,
#trade-nav.active,
#wish-nav.active,
#admin-collection-nav.active,
#collection-nav:hover,
#pull-nav:hover,
#trade-nav:hover,
#wish-nav:hover,
#admin-collection-nav:hover {
  color: #95bea9;
  background: #faf3e2;
  border-radius: 20px;
  padding: 7px 20px 5px 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#loginSection, #signupSection {
  display: inline-block;
  margin: 0 20px; /* Adjust as needed */
}

#loginButton, #signupButton {
  display: block;
  background-color: #FAF3E2;
  color: #95BEA9;
  font-family: "Pixelify Sans", sans-serif;
  padding: 10px 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add this line */
  transition: all 0.3s ease 0s; /* Add this line */
}

#loginButton:active, #signupButton:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Add this line */
  transform: translateY(3px); /* Add this line */
}

#loginButton:hover, #signupButton:hover {
  background-color: white;
  color: black;
}

#loginButton:hover svg, #signupButton:hover svg {
  fill: black;
}



.navButton {
  display: block;
  background-color: #FAF3E2;
  color: #95BEA9;
  font-family: "Pixelify Sans", sans-serif;
  padding: 10px 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.navButton:hover {
  background-color: white;
  color: black;
}

#SearchBar {
  background-color: #faf3e2;
}

#addCard {
  background-color: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
}

#addCard .form-control {
  background-color: #95bea9;
}

#Cards1 {
  background-image: linear-gradient(#E5E0D3, #B3A88D, #665D46);
  border-color: #4D4739;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle1 {
  background-color: #C7C7C7;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 17px;
  color: black;
  overflow: scroll;
}

#CardsImage1 {
  background-color: #C7C7C7;
}

#CardsText1 {
  background-color: #C7C7C7;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow: scroll;
}

#Cards2 {
  background-image: linear-gradient(#F7EFB7, #D8D082, #C3B241);
  border-color: #AF9A14;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle2 {
  background-color: #FFFFCC;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 17px;
  color: black;
  overflow: scroll;
}

#CardsImage2 {
  background-color: #FFFFCC;
}

#CardsText2 {
  background-color: #FFFFCC;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Cards3 {
  background-image: linear-gradient(#4BD79F, #3FB76B, #23A24D);
  border-color: #C7F0C6;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle3 {
  background-color: #CCFFCC;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 11px;
  font-size: 15px;
  white-space: nowrap;
  overflow: scroll;
}

#CardsImage3 {
  background-color: #95B9A1;
}

#CardsText3 {
  background-color: #CCFFCC;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

