
/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Import Pixel Sans */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #95bea9;
  --matr-navbar-bg-rgb: 149, 190, 169;
  --matr-navbar-text-color: #faf3e2;
  --matr-navbar-highlight-text: #faf3e2;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: #95bea9;
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("/images/POSTPixel.png");
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

h2 {
  font-family: "Pixelify Sans", sans-serif;
}

a {
  font-family: "Pixelify Sans", sans-serif;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#title-block {
  background: #faf3e2;
}

#input-card-body {
  background: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
}

#input-card-body .form-control {
  background: #95bea9;
}

#login-dropdown,
#navbar-current-user,
#login-dropdown-sign-in,
#login-dropdown-sign-up,
#navbar-sign-out {
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
}

.dropdown-item.active, .dropdown-item:hover {
  background-color: #95bea9 !important; /* Change to your desired highlight color */
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #faf3e2;
  padding: 20px;
  border-radius: 10px;
}

.partition-bar {
  width: 100%;
  height: 70px;
  background-color:#faf3e2;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#landing-page {
  background-color: #95bea9 !important;
}

#landing-page-top {
  background: center url("/images/POSTPixel.png");
  height: 450px;
  align-items: center;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px 0px 0px;
}

#landing-page-logo {
  max-width: 400px;
}

#landing-page-title {
  background-color: #95bea9 !important;
  color: #faf3e2;
  padding: 8px 8px 8px 8px;
  background: #95BEA9;
  border-radius: 40px 40px 40px 40px;
  max-width: 500px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  padding: 20px 8px;
  align-items: center; /* Center content vertically */
}

#landing-page-subtitle {
  background-color: #95bea9 !important;
  color: #faf3e2;
  padding: 8px 8px 8px 8px;
  background: #95BEA9;
  border-radius: 40px 40px 40px 40px;
  max-width: 500px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 20px 8px;
  align-items: center; /* Center content vertically */
}


#landing-page-about {
  background-color: #95bea9 !important;
  color: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
  padding: 30px 8px 100px 8px;
}

#footer {
  font-family: "Pixelify Sans", sans-serif;
}

.nav-pills .nav-link.active {
  background: #95bea9 !important;
  color: #faf3e2 !important;
  border-radius: 5px;
}

#SearchBar {
  background-color: #faf3e2;
}

#addCard {
  background-color: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
}

#addCard .form-control {
  background-color: #95bea9;
}

#Cards1 {
  background-image: linear-gradient(#E5E0D3, #B3A88D, #665D46);
  border-color: #4D4739;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle1 {
  background-color: #C7C7C7;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 17px;
  color: black;
  overflow: scroll;
}

#CardsImage1 {
  background-color: #C7C7C7;
}

#CardsText1 {
  background-color: #C7C7C7;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow: scroll;
}

#Cards2 {
  background-image: linear-gradient(#F7EFB7, #D8D082, #C3B241);
  border-color: #AF9A14;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle2 {
  background-color: #FFFFCC;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 17px;
  color: black;
  overflow: scroll;
}

#CardsImage2 {
  background-color: #FFFFCC;
}

#CardsText2 {
  background-color: #FFFFCC;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Cards3 {
  background-image: linear-gradient(#4BD79F, #3FB76B, #23A24D);
  border-color: #C7F0C6;
  border-width: 5px;
  border-radius: 20px;
}

#CardsTitle3 {
  background-color: #CCFFCC;
  border-radius: 20px;
  height: 40px;
  width: 335px;
  margin-top: 10px;
  padding-top: 11px;
  font-size: 15px;
  white-space: nowrap;
  overflow: scroll;
}

#CardsImage3 {
  background-color: #95B9A1;
}

#CardsText3 {
  background-color: #CCFFCC;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 270px;
  width: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

