/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Import Pixel Sans */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #95bea9;
  --matr-navbar-bg-rgb: 149, 190, 169;
  --matr-navbar-text-color: #faf3e2;
  --matr-navbar-highlight-text: #faf3e2;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: #95bea9;
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("/images/POSTPixel.png");
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

h2 {
  font-family: "Pixelify Sans", sans-serif;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#title-block {
  background: #faf3e2;
}

#input-card-body {
  background: #faf3e2;
  font-family: "Pixelify Sans", sans-serif;
}

#input-card-body .form-control {
  background: #95bea9;
}

#login-dropdown,
#navbar-current-user,
#login-dropdown-sign-in,
#login-dropdown-sign-up,
#navbar-sign-out {
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
}

.dropdown-item.active, .dropdown-item:hover {
  background-color: #95bea9 !important; /* Change to your desired highlight color */
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #faf3e2;
  padding: 20px;
  border-radius: 10px;
}

#footer {
  font-family: "Pixelify Sans", sans-serif;
}


